body {
  background-color: #F5EFED; 
  font-size: 13px;
}


p {
  color: #323232;
  font-size: 13px;
  font-family: calibri;
  
  max-width: 700px;
  margin: 40px auto;
  line-height: 1.6;
}

h1 {
  color: #156082;
  font-size: 24px;
  font-family: Arial black;
  text-align: center;
   
}

h2 {
  color: #156082;
  font-size: 18px;
  font-family: Cambria;
  
  max-width: 700px;
  margin: 40px auto;
  line-height: 1.6;
    
}

ul {
  color: black;
  font-size: 13px;
  font-family: calibri;
  
  max-width: 700px;
  margin: 40px auto;
  line-height: 1.6;
}

/* this part keeps the first image centered. */
.center-image {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* this part controls the size of the centered image aka main image */
.main-img {
  width: 300px;
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

/* next part controls the other two pictures, their position and sizes */

.image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.small-img {
  width: 250px;
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}